<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <script src="/assets/javascript.js" defer></script>
</head>

<body style="background-color:thistle; oldenrod; margin: 0px 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <header style="display:flex; justify-content: space-between; color:grey">
        <h1 style=" color:grey;">Registracija</h1>
        {{!-- <nav style="margin-top:30px">
            <a href="http://localhost:3000/login" style="background-color: darkblue; color: white; text-decoration:none; padding: 10px 20px">REGISTRACIJA</a>
            <a href="http://localhost:3000/file-upload" style="background-color: darkblue; color: white; text-decoration:none; padding: 10px 20px">ĮKELTI ATASKAITĄ</a>
            <a href="http://localhost:3000/documents" style="background-color: darkblue; color: white; text-decoration:none; padding: 10px 20px">ĮKELTI KITUS DOKUMENTUS</a>
        </nav> --}}
    </header>
        {{{body}}}
    <footer>
        <h3 style=" color:grey;">Ačiū!</h3>
    </footer>
</body>

</html>